@import "../variables.scss";

.Circle {
  border-radius: 50%;
  position: relative;
  background: none;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  user-select: none;
  
  @include flex-column;
  &__content {
    width: 70%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 1;
    -webkit-box-orient: vertical
  }
  &:hover {
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    color: $color-white;
    font-size: 22px;
    font-weight: 700;
    background-color: $color-green;
    box-shadow: 3px 5px rgba(#000, 0.01);
    transform: scale(1.2);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("../svg/sharks-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(0);
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  &:hover::before {
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    transform: rotate(-180deg);
    opacity: 0;
    visibility: none;
  }
  
  

}